<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>

  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:13370/SmartKitchenService"
                binding="netTcpBinding"
                contract="Hsr.CloudSolutions.SmartKitchen.Service.Interface.ISimulatorService"
                name="SimulatorService"/>
    </client>
  </system.serviceModel>
</configuration>
